# docker-compose.yml

version: '3'

services:

    api:
        build:
            context: ./api
            dockerfile: ./Dockerfile
        container_name: api
        ports: 
            - "8000:8000"
        volumes: 
            - ./api:/app/api
        networks:
            network:
                ipv4_address: 172.20.0.2

    auth:
        build:
            context: ./auth
            dockerfile: ./Dockerfile
        container_name: auth
        ports: 
            - "27017:27017"
            - "8080:8080"
        expose:
            - "8080"
        volumes: 
            - ./auth:/app/auth
        networks:
            network:
                ipv4_address: 172.20.0.3

    db:
        build:
            context: ./db
            dockerfile: ./Dockerfile
        container_name: db
        expose: 
            - "8089"
        volumes: 
            - ./db:/app/db
        networks:
            network:
                ipv4_address: 172.20.0.4
    
networks:

    network:
        ipam:
            driver: default
            config:
                - subnet: "172.20.0.0/24"
                  gateway: 172.20.0.1